<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Todo</title>
</head>
<body>
<h1>Edit Todo</h1>
<form th:action="@{/todo/edit/{id}(id=${todoItem.id})}" th:object="${todoItem}" method="post">
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" th:field="*{description}" />
  <label for="complete">Complete:</label>
  <input type="checkbox" id="complete" name="complete" th:field="*{complete}" />
  <button type="submit">Update</button>
</form>
</body>
</html>
