<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create works</h1>
    <form th:object="${book}" th:action="@{/book/create}" method="post">
        <label>Titre : <input type="text" th:field="*{title}"/></label>
        <label>Description : <input type="text" th:field="*{description}"/></label>
        <button type="submit">Valider</button>
    </form>
    <a th:href="@{/book}">Back to list</a>
</body>
</html>